@model Controle.View.EntradaView

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index2</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div>
        <fieldset>

            <legend>EntradaView</legend>

            <div class="formulario">

                <div class="titulo-item">
                    @Html.LabelFor(model => model.DataPrevista)
                </div>
                <div class="item-form inteiro">
                    @Html.EditorFor(model => model.DataPrevista)
                    @Html.ValidationMessageFor(model => model.DataPrevista)
                </div>

                <div class="titulo-item">
                    @Html.LabelFor(model => model.Nome)
                </div>
                <div class="item-form inteiro">
                    @Html.EditorFor(model => model.Nome)
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>

                 <div class="titulo-item">
                    @Html.LabelFor(model => model.Valor)
                </div>
                <div class="item-form metade">
                    @Html.EditorFor(model => model.Valor)
                    @Html.ValidationMessageFor(model => model.Valor)
                </div>
            </div>



            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
