<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <div style="background: #00bb00;height: 80%;padding: 2%;margin: 3%">
            <div id="Cabecalho" style="margin:0 2% 0"><h1> @ViewBag.Title</h1></div>
            <div style="margin:4%;background: #C0D999;padding: 2%">
                @RenderBody()
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
