<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
  
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
  


    @RenderSection("scripts", required: false)
</head>
<body>
    <div style="background: #FFF; height: 80%; padding: 0%; margin: 0%  11.4%">
        <div id="Cabecalho" style="margin: 0 0 0 0; background-color: #FdFdFd; padding: 2%">
            <h1>@ViewBag.Title</h1>
        </div>
        <div style="margin: 0%; background: #C0D999; padding: 2%">
            @RenderBody()
        </div>
    </div>

</body>
</html>
